@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes burgerSlideOpen {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes burgerSlideClose {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.animate-burgerSlideOpen {
  animation: burgerSlideOpen 0.3s linear forwards;
}

.animate-burgerSlideClose {
  animation: burgerSlideClose 0.3s linear forwards;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  display: flex !important;
}
